# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 1c4512da770465f4e8b660bffde3eda7a1124ae0c364f7b254dba64869943869512abbcf9b8fad87bb520887be235cb7937b31ade5bc4398db154fd8955c1dc0

test:
  secret_key_base: 06b6ba4013188bde859fab0a136e9d2a0bae3843f5bb266bcbec3c4d4bd470070c37dafe5818a996d73c5766dc7417c369093f911bb98d0270725b885aaf1510

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
