<footer class="footer">
  <div class="container">
    <p class="text-muted">
      <%= link_to image_tag('Englisch', class: 'flag flag-gb'), {:controller => 'locales', :action => 'english'} %>
      <%= link_to image_tag('Deutsch', class: 'flag flag-de'), {:controller => 'locales', :action => 'german'} %>
    </p>
  </div>
</footer>